#air-layer {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  .cloud,
  .bird {
    @include backgroundNoRepeat(center, contain);
    position: absolute;
  }

  .bird {
    z-index: 6;
  }

  .cloud {
    z-index: 7;
  }

  .cloud-1 {
    background-image: url('../assets/cloud-1.png');
    height: 84px;
    width: 106px;
  }

  .cloud-2 {
    background-image: url('../assets/cloud-2.png');
    height: 214px;
    width: 158px;
  }

  .cloud-3 {
    background-image: url('../assets/cloud-3.png');
    height: 107px;
    width: 145px;
  }

  .bird-1 {
    background-image: url('../assets/bird-1.png');
    height: 50px;
    width: 50px;
  }

  .bird-2 {
    background-image: url('../assets/bird-2.png');
    height: 30px;
    width: 30px;
  }

  .bird-3 {
    background-image: url('../assets/bird-1.png');
    height: 30px;
    width: 30px;
  }
}