#boat-layer {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  .shooter {
    background: $locationShooter;
    height: 3px;
    position: absolute;
    transform-origin: 0% 100%;
    width: 0;
    z-index: 0;
  }

  #boat {
    @include lineupBoat;
    transition-duration: 0.75s;

    &.moving {
      background-image: url("../assets/boat-moving.png");
    }

    &.found {
      background-image: url("../assets/boat-final.png");
      background-position: -15px -10px;
    }
  }
}

#map.map-2 #boat-layer #boat.found {
  background-position: 0 4px;
}