.header {
  background-color: $locationHeader;
  box-shadow: 0 0 19px 5px rgba($black, 0.5);
  height: 100px;
  left: 0;
  font-size: 18px;
  font-weight: 900;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  width: $interactiveWidth;
  z-index: 2;

  h1 {
    color: $white;
    margin: 0 30px;
    position: absolute;
    top: 24px;
  }

  em {
    bottom: 10px;
    color: $white;
    font-weight: normal;
    font-size: 12px;
    left: 30px;
    position: absolute;
    text-transform: none;

    a {
      color: #79aede;
    }
  }

  .info {
    @include closeButton;
    background-image: url('../assets/icon-activity-help.png');
    right: 25px;
    top: 28px;
  }
}

.message {
  align-items: center;
  background-color: rgba($locationStartBackground, 0.9);
  border-radius: 15px;
  color: $white;
  display: none;
  flex-direction: column;
  height: 340px;
  justify-content: center;
  left: 50%;
  margin-left: -275px;
  position: absolute;
  top: 150px;
  width: 550px;
  z-index: 999;

  p {
    padding: 0 20px;
    text-align: center;
  }

  button {
    background-color: $locationStartButton;
    border: 0;
    border-radius: 10px;
    color: $white;
    display: none;
    font-weight: 700;
    margin: 20px 5px 0;
    padding: 10px 20px;
    text-transform: uppercase;

    &:active {
      transform: scale(0.9);
    }
  }

  &.active {
    display: flex;
  }

  &.fail,
  &.success.stage-1:not(.fire-auto) {
    .button-ok {
      display: block;
    }
  }

  &.fail.stage-1 {
    .button-doitforme {
      display: block;
    }
  }

  &.success.stage-2.map-3 {
    .button-exit {
      display: block;
    }
  }

  &.success.stage-2a,
  &.success.stage-2 {
    height: 371px;
    width: 512px;

    &.map-1,
    &.map-3 {
      left: 50px;
      margin-left: 0;
      top: 50px;
    }

    &.map-2 {
      height: 250px;
      left: 50px;
      margin-left: 0;
      top: 50px;
      width: 480px;
    }
  }

  &.success.stage-2:not(.map-3) {
    .button-nextmap {
      display: block;
    }
  }
}