@mixin backgroundNoRepeat($position: center, $size: cover) {
  background-position: $position;
  background-repeat: no-repeat;
  background-size: $size;
}

@mixin buttonStyles {
  @include backgroundNoRepeat(center, $buttonSize);
  background-color: transparent;
  cursor: pointer;
  font-size: 0;
  height: $buttonSize;
  width: $buttonSize;

  &:active {
    transform: scale(0.9);
  }
}

@mixin closeButton {
  @include buttonStyles;
  background-image: url("../assets/icon-activity-close.png");
  position: absolute;
  right: 0;
  top: 0;
}

@mixin lineupBoat {
  @include backgroundNoRepeat(center, contain);
  background-image: url('../assets/boat.png');
  display: block;
  height: 121px;
  position: absolute;
  transform: rotate(50deg);
  transition: all 2s linear;
  width: 121px;
  z-index: 5;
}

@mixin lineupLandmark {
  @include backgroundNoRepeat(center, contain);
  background-image: url('../assets/marker.png');
  display: block;
  height: 46px;
  position: absolute;
  width: 46px;
  z-index: 99;
}

@mixin modalStyles {
  background-color: $black;
  display: none;
  height: $interactiveHeight;
  left: 0;
  position: absolute;
  top: 0;
  width: $interactiveWidth;

  .close {
    @include closeButton;
  }

  .arrow {
    display: none;
  }

  .modal-foreground {
    align-items: center;
    color: $white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 100%;

    h1 {
      font-size: 26px;
      font-weight: 900;
      line-height: 36px;
      margin-bottom: 100px;
    }

    p {
      font-size: 20px;
      line-height: 27px;
      text-align: left;
      width: 508px;
    }
  }
}