#modal {
  @include modalStyles;
  z-index: 999;

  .close {
    right: 35px;
    top: 35px;
  }

  .arrow {
    display: none;
  }

  button {
    display: none;
  }

  #modal-foreground {
    button {
      background-color: $locationStartButton;
      border: 0;
      border-radius: 10px;
      color: $white;
      font-weight: 700;
      margin: 20px 5px 0;
      padding: 10px 20px;
      text-transform: uppercase;

      &:active {
        transform: scale(0.9);
      }
    }

    h1 {
      margin-bottom: 50px;
    }

    .text {
      strong {
        font-weight: 900;
      }

      p:nth-of-type(1) {
        clear: both;
        line-height: 44px;
        margin-bottom: 30px;

        &:before {
          @include backgroundNoRepeat(top, contain);
          background-image: url("https://uploads.codesandbox.io/uploads/user/41d4885c-5c50-431c-9930-be51db5ee62a/nPOT-icon-turn-small.png");
          content: ' ';
          float: left;
          height: 42px;
          margin: 7px 22px 14px 0;
          width: 40px;
        }
      }

      p:nth-of-type(2) {
        clear: both;
        line-height: 47px;
        margin-bottom: 30px;

        &:before {
          @include backgroundNoRepeat(top, contain);
          background-image: url("https://uploads.codesandbox.io/uploads/user/41d4885c-5c50-431c-9930-be51db5ee62a/nPOT-icon-turn-small.png");
          content: ' ';
          float: left;
          height: 42px;
          margin: 7px 11px 14px 0;
          width: 52px;
        }
      }

      p:nth-of-type(3) {
        clear: both;

        &:before {
          @include backgroundNoRepeat(top, contain);
          background-image: url("https://uploads.codesandbox.io/uploads/user/41d4885c-5c50-431c-9930-be51db5ee62a/nxjX-icon-foundit.png");
          content: ' ';
          float: left;
          height: 42px;
          margin: 7px 22px 14px 0;
          width: 40px;
        }
      }

      font-size: 20px;
      line-height: 27px;
      text-align: left;
      width: 508px;
    }
  }
}