$white: white;
$black: black;

$buttonSize: 56px;
$interactiveWidth: 1101px;
$interactiveHeight: 780px;

// Game Location/Line Up.
$locationHeader: #252525;
$locationControlsBackground: #464646;
$locationShooter: #dfd5a5;
$locationHeight: 680px;
$locationGameHeight: 680px;
$locationGameWidth: 900px;
$locationStartButton: #1a5090;
$locationStartBackground: #1e1e1e;
$locationDpadBackground: #5d5d5d;
$locationFoundit: #f4ac32;
